.gpt3__define_withHr {
  color: white;
  font-size: 1.6rem;
  line-height: 3rem;
  min-width: 300px;
  margin: 1.5rem 0;
  .gpt3__header_lineMark {
    height: 6px;
    width: 60px;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background: var(--gradient-bar);
  }
}
