.gpt3__feature_top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at -50% 50%,#042c54 -150%,transparent);
  .gpt3__feature {
    padding: 4rem;
    display: flex;
    gap: 2rem;
    &_description {
      h3 {
        font-weight: bold;
        font-size: 45px;
        line-height: 3.7rem;
      }
      p {
        line-height: 5rem;
        color: var(--color-subtext);
      }
    }
    &_descriptionBox {
      display: flex;
      flex-direction: column;

      gap: 2rem;
      &_content {
        display: flex;
        column-gap: 2rem;
        h3 {
          color: #fff;
        }
        p {
          color: var(--color-text);
        }
      }
    }
  }
}

@media screen and (1100px<width<1400px) {
  .gpt3__feature {
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
}
@media screen and (1000px<width<1100px) {
  .gpt3__feature {
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
}
@media screen and (width<1000px) {
  .gpt3__feature_top {
    .gpt3__feature {
      width: 90%;
      flex-direction: column;
      justify-content: center;
      &_description {
        h3 {
          font-size: 38px;
          line-height: 3.2rem;
        }
      }
      &_descriptionBox {
        &_content {
          flex-direction: column;
        }
      }
    }
  }
}
