@import '../../App.scss';
.gpt3__navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem;
  font-family: var(--font-family);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  .gpt3__navbar_links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    .gpt3__navbar_links_container {
      display: flex;
      justify-content: space-around;
      a {
        margin: 0 1rem;
        cursor: pointer;
      }
    }
  }
  .gpt3__navbar_sign {
    display: flex;
    gap: 2rem;
    align-items: center;
    button {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: #ff4820;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .gpt3__navbar_menu {
    display: none;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
    .gpt3__navbar_links_container {
      right: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #fff;
      align-items: flex-end;
      background-color: var(--color-footer);
      padding: 2rem;
      min-width: 210px;
      text-align: end;
      border-radius: 5px;
      margin-top: 1rem;
      top: 40px;
      box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
      a,
      p {
        margin: 1rem 0;
      }

      .gpt3__navbar_sign {
        display: block;
      }
    }
    .scale_up_center {
      -webkit-animation: scale-up-center 0.4s
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: scale_up_center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}

.gpt3__navbar_links_logo {
  margin-right: 2rem;
  img {
    width: 62.56px;
    height: 16.02px;
  }
}

@media screen and (width<=500px) {
  .gpt3__navbar {
    padding: 1rem;
    .gpt3__navbar_links {
      .gpt3__navbar_links_container {
        display: none;
      }
    }
    .gpt3__navbar_sign {
      display: none;
    }
    .gpt3__navbar_menu {
      display: block;
    }
  }
}

@media screen and (width<800px) {
    .gpt3__navbar {
      .gpt3__navbar_links {
        .gpt3__navbar_links_container {
          display: none;
        }
      }
     
      .gpt3__navbar_menu {
        display: block;
      }
    }
  }